:root {
    --main-bg-color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px 10%;
    height: 120%;
    width: 80%;
}

main div {
    border: 1px solid black;
    padding: 20px;
    margin: 10px 0%;
    width: 80%;
    border-radius: 0em !important;
}

main form:not(#login-form) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0%;
    padding: 0px 10%;
}

main form textarea {
    resize: none;
}

header {
    z-index: 10;
}

footer {
    z-index: 10;
}