.discussion div.card:hover {
    cursor: pointer;
    animation: darkenCard 0.5s forwards;
}

@keyframes darkenCard {
    0% {
        background-color: var(--main-bg-color);
    }
    100% {
        background-color: lch(from var(--main-bg-color) calc(l - 5) c h);
    }
}